body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
li{
  margin-bottom: 30px;
}
.acbg {
  background-color: #896a9a;
  color: #e7e9ee;
}

.acbg:hover,
.acbg:visited {
  color: #e7e9ee;
}

#sidenav {
  position: fixed;
  height: 100vh;
  background-color: #1e1721;
}
.gscont {
  position: absolute;
  width: calc(100vw - 210px - 1.5vw);
  height: calc(100vh - 1.5vw);
  top: 0.75vw;
  right: 0.75vw;
}

.gscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.75vw 0.75vw;
  grid-auto-flow: row;
  grid-template-areas:
    "c1 c1 c1 c1 c1 c1 c1 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c2 c2 c2"
    "c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c4 c4 c4 c4 c4";
}

.c1 {
  padding: 0.7vw;
  border-radius: 0.75vw;
  position: relative;
  color: #e7e9ee;
  height: calc((100vh - 2.25vw) / 2);
  background-color: #1e1721;
  grid-area: c1;
  font-size: 1.5vw;
}

.c2 {
  padding: 0.7vw;
  border-radius: 0.75vw;
  position: relative;
  height: calc((100vh - 2.25vw) / 2);
  background-color: #6c9df9;
  font-size: 1.5vw;
  grid-area: c2;
}

.c3 {
  padding: 0.7vw;
  border-radius: 0.75vw;
  position: relative;
  height: calc((100vh - 2.25vw) / 2);
  background-color: #e7e9ee;
  grid-area: c3;
  font-size: 1.35vw;
}

.c4 {
  padding: 0.7vw;
  border-radius: 0.75vw;
  position: relative;
  height: calc((100vh - 2.25vw) / 2);
  background-color: #896a9a;
  grid-area: c4;
  font-size: 1.3vw;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.item {
  color: #e7e9ee;
  background-color: #1e1721;
  padding: 18px;
  border-radius: 10px;
}

.badge {
  background-color: #896a9a;
}

code {
  word-wrap: break-word;
}

.container {
  position: absolute;
  top: 1.5vw;
  right: 0.5vw;
  width: calc(100vw - 210px - 1.5vw);
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.snipupload {
  position: fixed;
  background-color: #6c9df9;
  bottom: 0.75vw;
  right: 0.75vw;
  width: 11vw;
  height: 3vw;
  border-radius: 0.75vw;
  z-index: 1;
}

.sniphref {
  text-decoration: none;
  color: #040506;
}
.sniphref svg {
  text-decoration: none;
  color: #040506;
}
.snpup{
  color: #e7e9ee;
  position: absolute;
  width: calc(100vw - 210px - 1.5vw);
  height: calc(100vh - 1.5vw);
  top: 0.75vw;
  right: 0.75vw;
}
.snipinp{
  color: #e7e9ee;
  background-color: #1e1721;
  border: none;
}
.snipinp:focus{
  color: #e7e9ee;
  border: none;
  background-color: #1e1721;
}


.snpsubmit{
  background-color: #896a9a;
  border: #896a9a;
  color: #1e1721;
}
.snpsubmit:hover{
  background-color: #1e1721;
  border: #1e1721;
  color: #e7e9ee;
}

.snpsubmit:onclick{
  background-color: #896a9a;
  border: #896a9a;
  color: #1e1721;
}

.anco{
  position: absolute;
  width: calc(100vw - 210px - 1.5vw);
  height: calc(100vh - 1.5vw);
  top: 0.75vw;
  right: 0.75vw;
}